In [72]:
import numpy as np
import pandas as pd
import statistics as stats

Question 1: Import grades

In [41]:
grades_df = pd.read_csv('student-data.csv')
# grades_array = grades_df.to_numpy()  If i wanted to use the numpy array instead
# grades_array
grades_df

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

Question 1.1: Calculate the mean for each individual subject.

In [42]:
math_av = grades_df['Math'].mean()
science_av = grades_df['Science'].mean()
reading_av = grades_df['Reading'].mean()
history_av = grades_df['History'].mean()
print(f"Math: {math_av}; Science: {science_av}; Reading: {reading_av}; History: {history_av}")

Math: 11.928571428571429; Science: 14.214285714285714; Reading: 10.785714285714286; History: 11.428571428571429

Question 1.2: Find the median grade in Math for all students.

In [49]:
grades_df['Math'].median()

11.0

Question 1.3: Calculate the mode for History.

In [90]:
grades_df['History'].mode().values[0]

14.0

Question 2:
Calculate the correlation between the different subjects. What two subjects have the strongest correlation? Answer: Math and science have strongest correlation

In [61]:
correlation_chart = grades_df.corr(numeric_only=True)
correlation_chart

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

In [80]:
top_pairs = correlation_chart.unstack().sort_values(ascending=False)
unique_pairs = []

for pair in top_pairs.index:
    if pair[0] != pair[1] and (pair[1], pair[0]) not in unique_pairs:
        unique_pairs.append(pair)

top_pairs_df = pd.DataFrame(columns=['feature_1', 'feature_2', 'corr_coef'])
for i, pair in enumerate(unique_pairs[:n]):
    top_pairs_df.loc[i] = [pair[0], pair[1], correlation_chart.loc[pair[0], pair[1]]]

display(top_pairs_df)

  feature_1 feature_2  corr_coef
0      Math   Science   0.269494

Consider the following numbers representing the grades from the most recent exam in a math class:

[24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

In [73]:
def desc_stats(exam_grades: list):
    exam_array = np.array(exam_grades)
    # values used more than once
    exam_mean = np.mean(exam_array)
    exam_min = np.min(exam_array)
    exam_max = np.max(exam_array)
    exam_var = sum((x - exam_mean) ** 2 for x in exam_array) / len(exam_array)
    
    print(f"Mean: {exam_mean}")
    print(f"Median: {np.median(exam_array)}")
    print(f"Mode: {stats.mode(exam_array)}")
    print(f"Minimum: {exam_min}")
    print(f"Maximum: {exam_max}")
    print(f"Range: {(exam_max) - (exam_min)}")
    print(f"Variance: {exam_var}")
    print(f"Standard deviation: {exam_var ** 0.5}")

In [88]:
student_grades = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
desc_stats(student_grades)

Mean: 59.47826086956522
Median: 60.0
Mode: 60
Minimum: 5
Maximum: 99
Range: 94
Variance: 664.162570888469
Standard deviation: 25.77135174740489

Extended Challenge:

As the professor, I would curve the grades. The Median score is 60, which is a high F. That means that half the students got below an F and half above. A more fair exam would have results evenly distributed between grades (Median around 75). Even though the mean and meadian are so close, meaning there are few if any outliers, you can't fail half the class.